@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro&family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Antique", serif;
  
  
}
head {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Zen Antique", serif;
}
body{
 
}
.bar{
    display: flex;
    align-items: center;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 7rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.logo{
    border: 3px solid #010334;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.div3 a {
  color: #010334;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}

.fab {
    font-size: 2rem;
  background: radial-gradient(
    circle at 30% 107%,
    #141414 0%,
    #0a0a0a 5%,
    #181413 45%,
    #0e0d0d 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}

.content{
  width: 90%;
  margin: 0 auto;
  }

.top{
  display: flex;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%); 
}
  
  h5{
    font-size: 0.8rem;
    padding: 0.5rem;
    text-decoration: none;
  }

  h4{
    font-size: 1.2rem;
  }

#id1{border-radius: 4%;
  width: 70rem;
  height: 28rem;
  margin-right: 2rem;
}

img{
    border-radius: 2%;
    width: 50rem;
    height: 25rem;
    margin-right: 2rem;
}

.bottom{
  display: flex;
  margin: 2rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

.card{
  background-color: white;
  padding: 1rem;
  margin-top:1rem;
}

.description1 a{
  display: inline-block;
  color: #fff;
  background-color: cornflowerblue;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.card a{
  display: inline-block;
  color: #fff;
  background-color: cornflowerblue;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  margin-top: 15px;
}