@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro&family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Antique", serif;
  box-sizing: border-box;
}
head {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Zen Antique", serif;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 7rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.navbar_logo{
  border: 3px solid #010334;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-right: 3rem;
}

.navbar_list{
  list-style-type: none;  
}

.navbar_list_items{
  display: inline-flex;
  padding:0.5rem 2.5rem;  
}

.navbar a{
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover{
  color:blue;
}

.fab {
    font-size: 2rem;
  background: radial-gradient(
    circle at 30% 107%,
    #141414 0%,
    #0a0a0a 5%,
    #181413 45%,
    #0e0d0d 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem; 
}

.row{
    display: flex;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%); 
}

.background{
    border-radius: 4px;
    margin-right: 2rem;
    flex-basis: 40%;
}

.full_image{
    width: 100%;
    height: 100%;
}
    
.row_input{
      flex-basis: 60%;
}
  
h5{
    font-size: 0.8rem;
    padding: 0.5rem;
    text-decoration: none;
}

h4{
    font-size: 1.2rem;
}

.wrapper{
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    flex-direction: row;  
  }

.wrapper_item{
    width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
    margin-top:1rem;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }

.wrapper_item img{
    border-radius: 4px;
    max-width: 50%;
    margin-right: 2rem; 
    object-fit: contain;  
}

.read-more-button a{
    display: inline-block;
    color: #fff;
    background-color: cornflowerblue;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 15px;
  }

@media (max-width:1023px) and (min-width:426px){
  .wrapper_item{
    width: 50%;
  }
  .row{
    flex-direction: column;
  }
}

@media  (max-width:425px) and (min-width:100px){
  .wrapper_item{
    width: 100%;
  }
  .row{
    flex-direction: column;
  }

  .full_image, img{
    height: auto;
  }

  .navbar{
    display: block;
  }
  

}
